.header ul li a {
    text-decoration: none;
    color: white;
}

.header {
    cursor: pointer;
    background-color: black;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    margin: 0%;
}

.header ul li {
    list-style: none;
    margin-left: 30px;
    font-family: sans-serif;
    font-weight: 600;

}

.header ul li:hover a {
    color: #5e5ef0;
    font-size: 20px;
}

.header ul {
    display: flex;
    align-items: center
}

.icon {
    color: white;
    margin-right: 10px;
    padding-right: 8px;
    font-size: 30px;
}